@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
}

header {
    width: 100%;
    background-color: #fba8a3;
    color: #333;
    text-align: left;
    padding: 20px 0;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #71c9e2;
}

footer {
    width: 100%;
    background-color: #fba8a3;
    color: #333;
    text-align: left;
    padding: 20px 0;
    font-size: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    background: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}