.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 650px;
}

.answer {
    width: 50%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: transparent;
    border-radius: 15px;
    background: #fba8a3;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.answer:hover {
    transform: scale(1.05);
}

.submit {
    width: 100px;
    padding: 10px;
    background-color: #fba8a3;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
}
/*
.answer, .submit {
    display: none;
}
*/
.submit:hover {
    transform: scale(1.05);
}